---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="content"></div>
</Layout>

<script>
    const content = document.querySelector('.content') as HTMLDivElement
  
    const checkCookie = async () => {
      const res = await fetch(`http://localhost:3000/users/check-auth`, {
        method: "GET",
        credentials: "include"
      })
      if (!res.ok) {
        window.location.href = "/"
        console.log("check auth failed")
        return
      }
      const data = await res.json()
      return data
    }
  
    const logout = async () => {
      const res = await fetch(`http://localhost:3000/users/logout`, {
        method: "GET",
        credentials: "include"
      })
      const data = await res.json()
      return data
    }

  
    const render = async () => {
        const user = await checkCookie();
        if (!user) return;

        content.innerHTML = `
            <h1>Welcome, ${user.user.username}!</h1>
            <form>
                <label>Username:</label>
                <p>${user.user.username}</p>

                <label>Firstname:</label>
                <p>${user.user.firstname}</p>

                <label>Lastname:</label>
                <p>${user.user.lastname}</p>

                <button id="btn-clear-cookie">Log Out</button>
            </form>
        `;

        const btnLogout = document.querySelector("#btn-clear-cookie");
        if (btnLogout) {
            btnLogout.addEventListener("click", async () => {
                const data = await logout();
                alert(`${data.content} Redirecting to homepage in 3 seconds...`);
                setTimeout(() => {
                    window.location.href = "/";
                }, 3000);
            });
        }
    };
  
    await render()
  </script>